<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Números</mat-card-title>
      <mat-card-subtitle>total: {{ tickets.length }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions [align]="'start'">
      <button
        mat-button
        color="primary"
        [disabled]="tickets.length === 0"
        (click)="print()"
      >
        Imprimir
      </button>
      <button
        mat-button
        color="warn"
        [disabled]="items.selectedOptions.selected.length === 0"
        (click)="remove(items.selectedOptions.selected)"
      >
        Remover {{ items.selectedOptions.selected.length }}
      </button>
      <button
        mat-button
        color="accent"
        [disabled]="tickets.length === 0"
        (click)="clear()"
      >
        Limpar
      </button>
    </mat-card-actions>
    <mat-card-content>
      <form [formGroup]="ticketForm">
        <mat-form-field color="primary">
          <mat-label>Nº</mat-label>
          <input matInput type="number" formControlName="code" />
        </mat-form-field>
        <button
          [disabled]="
            ticketForm.controls.code.value <= 0 ||
            ticketForm.controls.code === null
          "
          type="button"
          mat-icon-button
          color="primary"
          aria-label="Add Item"
          (click)="add()"
          required
        >
          <mat-icon>add</mat-icon>
        </button>
      </form>
      <mat-selection-list #items>
        <mat-list-option *ngFor="let ticket of tickets" color="accent">
          {{ ticket.code }}
        </mat-list-option>
      </mat-selection-list>
      <p *ngIf="tickets.length === 0">Não há números registrados!</p>
    </mat-card-content>
  </mat-card>
</div>
